streamlit

langchain
langchain-community
langchain-core
langchain-classic
langchain-groq
langchain-text-splitters

chromadb

sentence-transformers

torch==2.2.2
torchvision==0.17.2

pypdf

python-dotenv